<div>
  <div id="title">
    <h1 style="margin-bottom: 10px">{{userName}}</h1>
    <div id="email">
        <span>{{email}}</span>
    </div>
  </div>
  <div class="operating">
    <div class="input">
      <input class="trueinput" type="password" style="width: 366px; height: 54px; border-radius: 4px; border: none; outline: none; padding-left: 5px">
      <div class="text">输入您的密码</div>
    </div>
    <div class="forget">
      <button>忘记了密码？</button>
      <button id="next">下一步</button>
    </div>
  </div>
</div>
