<div>
  <div style="margin-top: 5.0625rem;">
    <div class="main">
      <div class="header">
        <div class="ad-video">
          <video src="jds.mp4" class="ad"></video>
        </div>
        <div class="ad-information">
          <div class="ad-img">
            <img style="border-radius: 50%" src="../../../../assets/img/unnamed.jpg">
          </div>
          <div class="ad-content">
            <div class="ad-content-header">
              <span>Galaxy S10 | S10+ 予約受付中</span>
              <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="icon-ad">
                <g>
                  <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                </g>
              </svg>
            </div>
            <div class="ad-content-for">
              <div class="ad-content-for-box">
                <span class="ad-content-for-text">广告</span>
              </div>
              <span class="ad-channel">Galaxy Japan</span>
            </div>
            <div class="clear"></div>
            <div class="ad-button">
              <span class="ad-button-text">进入频道</span>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-header">
          <img class="content-header-img" width="32" height="32" src="../../../../assets/img/unnamed1.jpg">
          <span class="content-header-channel-name">nene1m Sonicx</span>
          <span class="content-header-channel-name content-header-type">推荐频道</span>
          <div class="content-button">
            <span class="content-button-text">订阅 2821</span>
          </div>
        </div>
        <div class="content-main">
          <div class="content-video">
            <img class="content-video-img" src="../../../../assets/img/video.jpg">
            <div class="content-video-information">
              <a class="content-video-link">阿苏回到家库哈斯就肯定会七五i会违法和啊是就ask流动的风景ask劳动法上课</a>
              <a class="content-channel-link">TMSアニメ55周年公式チャンネル</a>
              <div>
                <span class="content-video-time">28万 次观看&nbsp;·&nbsp;3小时前</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
