<div>
  <div class="header">
    <div style="padding-top: 0.625rem; display: inline-block">
      <div>
        <span>帐号</span>
      </div>
      <div class="header2">
        <span style="font-size: 25px">选择您的资料在 YouTube 上的展现方式以及您在 <br> YouTube 上看到的内容</span>
      </div>
      <div class="header3">
        <span style="font-size: 14px">登录身份为 xcsfyf@gmail.com</span>
      </div>
    </div>
    <img style="margin:-1.25rem 0 0 7.1875rem" width="200" height="200" src="../../../../assets/img/avatar_account_settings_2x-vfl6c6JNc.png">
  </div>
  <hr style="border: 1px #e2e2e2 solid">
  <div class="content">
    <div>
      <div class="contentHeader">
        <span>您的 YouTube 频道</span>
      </div>
      <div class="channel">
        <span class="s1">您的频道</span>
        <div class="d1">
          <img style="float: left" width="77" height="77" src="../../../../assets/img/photo.jpg">
          <div style="display: inline-block;float: left; margin-left: 10px">
            <a href="#">Lovefyf</a><a href="#">在修改页面上修改个人信息</a><br>
            <span>xcsfyf@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin: 20px 0 30px">
      <div style="margin: 0 0 16px; font-size: 13px">
        <span>您的帐号</span>
      </div>
      <div>
        <a href="#" class="a1">查看其它功能</a><br>
        <a href="#" class="a1">创建新频道</a>
      </div>
    </div>
    <div>
      <div>
        <span class="s2">会员资格</span>
        <div style="float: left">
          <span style="font-size: 13px">不是会员</span><br>
          <a href="#" style="font-size: 13px">了解 YouTube Premium</a>
        </div>
      </div>
      <div class="clear"></div>
      <div style="margin-top: 10px">
        <span class="s2">帐号设置</span>
        <div style="float: left">
          <a href="#" style="font-size: 13px">查看或更改您的帐号设置</a><br>
        </div>
      </div>
    </div>
  </div>
</div>
