#title{
  text-align: center;
}
.operating{
  padding-top: 30px;
}
.input{
  position: relative;
  margin: 0 auto;
  width: 366px;
  overflow: hidden;
  border: 1px #808080 solid;
  border-radius: 4px;
  margin-bottom: 15px;
}
.text{
  position: absolute;
  top: 6px;
  left: 10px;
  color: #80868b;
}
.trueinput{
  z-index: 999;
  font-size: 17px;
}
#createaccount{
  cursor:pointer;
  border: none;
  background: none;
  outline: none;
  color: #1A37E8;
  font-size: 17px;
}
#createaccount:active{
  background: #4391f5;
  border-radius: 5px;
}
#next{
  cursor:pointer;
  position: absolute;
  right: 0;
  width: 88px;
  height: 36px;
  background: #1a73e8;
  color: #ffffff;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 5px;
}
#next:active{
  background: #1a6dda;
}
#end{
  position: relative;
  width: 366px;
  margin: 0 auto;
  padding-top: 10px;
}
