<div>
  <div id="title">
    <h2 style="margin-bottom: 10px">创建您的 YouTube 帐号</h2>
    <span>继续使用YouTube</span>
  </div>
  <div class="operating">
    <div class="input">
      <input [(ngModel)]="userName" class="trueinput" type="text" style="width: 366px; height: 34px; border-radius: 4px; border: none; outline: none; padding-left: 5px">
      <div class="text">用户名</div>
    </div>
    <div class="input">
      <input [(ngModel)]="phoneNumber" class="trueinput" type="text" style="width: 366px; height: 34px; border-radius: 4px; border: none; outline: none; padding-left: 5px">
      <div class="text">电话号码</div>
    </div>
    <div class="input">
      <input [(ngModel)]="email" class="trueinput" type="text" style="width: 366px; height: 34px; border-radius: 4px; border: none; outline: none; padding-left: 5px">
      <div class="text">电子邮件地址</div>
    </div>
    <div class="input">
      <input [(ngModel)]="password" class="trueinput" type="password" style="width: 366px; height: 34px; border-radius: 4px; border: none; outline: none; padding-left: 5px">
      <div class="text">密码</div>
    </div>
    <div class="input">
      <input [(ngModel)]="confirmPassword" class="trueinput" type="password" style="width: 366px; height: 34px; border-radius: 4px; border: none; outline: none; padding-left: 5px">
      <div class="text">确认密码</div>
    </div>
    <div id="end">
      <button (click)="jump()" id="createaccount">登录现有账号</button>
      <button (click)="createAccount()" id="next">下一步</button>
    </div>
  </div>
</div>
