<div style="width: 100%; height: 100%; position: absolute">
  <div style="width: 100%; height: 100%; position: absolute; display: flex">
    <div class="sideBar">
      <div class="content">
        <div class="header">
          <span style="font-size: 17px">设置</span>
        </div>
        <div class="option">
          <span style="font-size: 15px">账号</span>
        </div>
        <div class="option">
          <span style="font-size: 15px">通知</span>
        </div>
        <div class="option">
          <span style="font-size: 15px">播放和效果</span>
        </div>
        <div class="option">
          <span style="font-size: 15px">隐私设置</span>
        </div>
        <div class="option">
          <span style="font-size: 15px">关联的应用</span>
        </div>
        <div class="option">
          <span style="font-size: 15px">在电视上观看</span>
        </div>
        <div class="option">
          <span style="font-size: 15px">结算与付款</span>
        </div>
        <div class="option">
          <span style="font-size: 15px">高级设置</span>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="mainContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
